# Dependency directories
node_modules/

# environment variable files
.env

# log files
*.log

# compiled js
app.js
libs/bskyParams.js
libs/urlHandler.js
libs/bskyAPI.js

# VS Code debug config file
.vscode/launch.json

# mapping files
tweets_mapping.json
